{% extends "core/base.html" %}

{% block title %}Categories{% endblock %}
{% block additional_css %}
  {% load static%}
  <style>
    body{
        background-image: url("{% static 'images/img13.jpg' %}");
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        background-color: #1e2a38;
        background-position: center;
        background-size: cover;
        background-blend-mode: overlay;
        background-attachment: fixed;
        background-color: rgba(0, 0, 0, 0.3);
    }
  </style> 
{% endblock %}
{% block content %}
    <section class ='flex-col h-screen'>
        <h1 class ="mb-4 text-3xl" >Categories</h1>
        <a class = "inline-block px-4 py-2 text-white mb-3 bg-cyan-600 rounded-xl" href="{% url 'links:create_category' %}">Create Category</a>

        <div class='grid grid-cols-3 gap-3 '>
            {% for category in categories %}
                <div class = "bg-white p-3 mb-3 rounded-xl">
                    <h2 class = 'mb-4 text-xl text-blue-900'>{{ category.name }}</h2>
                    
                    <a href = "{% url 'links:links' %}?category ={{ category.id }}" class="text-cyan-700">View</a> |
                    <a href = "{% url 'links:edit_category' category.id %}" class="text-cyan-700">Edit</a> |
                    <a href = "{% url 'links:delete_category' category.id %}" class="text-cyan-700">Delete</a>
                </div>
            {% endfor %}
        </div>
    </section>   
{% endblock %}

