{% extends "core/base.html" %}

{% block title %}{{title}}{% endblock %}
{% block additional_css %}
  {% load static%}
  <style>
    body{
        background-image: url("{% static 'images/img17.jpg' %}");
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        background-color: #1e2a38;
        background-position: center;
        background-size: cover;
        background-blend-mode: overlay;
        background-color: rgba(0, 0, 0, 0.3);
    }
  </style> 
{% endblock %}
{% block content %}
    <section class ='flex flex-col h-screen'>

        <div class="container mx-auto mt-8">
            <div class="max-w-md mx-auto bg-white rounded-lg shadow-lg p-8">

                <h1 class ="mb-4 text-3xl" >{{title}}</h1>
       
                    <form method = "POST", action = ".">
                        {% csrf_token %}

                        {{ form.as_p }}

                        <button class = "mt-4 py-2 px-4 text-white bg-cyan-600 rounded-xl">Submit</button>
                    </form>
            </div>
        </div>
    </section>
{% endblock %}

